.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.home-card {
    height: 240px;
    margin: 0px;
    padding: 40px;
}

.entity-box {
    border-left: 10px solid #BBB;
    border-bottom: 3px solid #BBB;
    margin: 10px 0px 10px 0px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.entity-sub {
    margin: 0px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.entity-item {
    border: 1px solid #BBB;
    margin: 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.project-border {
    border-left: 10px solid #0B0;
}

.module-border {
    border-left: 10px solid #BB0;
}

.device-border {
    border-left: 10px solid #00B;
}

.module-item {
    height:200px;
}

.data-item {
    height:120px;
}

.control-item {
    height:120px;
}

.module-item {
    height:240px;
}

.data-event-item {
    height:120px;
}

.control-event-item {
    height:150px;
}

.grid-block, .main, .post, .comments li, .comment-form {
    border: 1px solid #AAA;
    border-bottom: 3px solid #BBB;
    margin: 0px;
    overflow: hidden;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.array-editor{
    border-left: 3px solid #BBB;
    margin: 0px;
    overflow: hidden;
    background: #fff;
    padding: 10px;
}

.image-box {
    border: 2px solid #BBB;
    margin: 0px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.gray {
    border-left: 10px solid #BBB;
}

body {
    background: #eee;
    color: #666666;
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
}

.page {
    position: absolute;
    top: 0px;
    width: 100%;
}

.navbar {
    margin-bottom: 10px;
}

/* line 32, ../sass/style.scss */
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}

#spinner {
    height: 300px;
}

.imageArea {
    margin-bottom: 70px;
}

.imageArea .media {
    margin-top: 0;
    margin-right: 10px;
    width: 300px;
    max-width: 300px;
}

/*.scorll-item {*/
    /*height: auto;*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*position: relative;*/
    /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);*/
    /*padding: 80px 0 150px 0;*/
    /*background-size: 100% auto;*/
/*}*/

.mtitle {
    font-size: 18px;
    color: #000;
}

.mdesc {
    font-size: 16px;
    color: #000;
    padding: 10px 20px 0 20px;
    text-align: left;
}

.post {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    zoom: 1;
    position: relative;
    opacity: 1;
}

.post:before, .post:after {
    content: "";
    display: table;
}

.post:after {
    clear: both;
}

.post.invisible {
    opacity: 0;
}

.post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.post.animate {
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}

.post .post-content {
    float: left;
}

.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.post .post-content p {
    margin: 0;
}

.post .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}

.comments {
    list-style-type: none;
    margin: 0;
}

.comments li h4 {
    font-size: 16px;
    margin: 0;
}

.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}

.comments li h4 a {
    font-size: 12px;
}

.comments li p:last-child {
    margin-bottom: 0;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}

.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.posts .spinner-container {
    position: relative;
    height: 100px;
}

.modules .spinner-container {
    position: relative;
    height: 100px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

/*Style for Smart City*/

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
