<template name="controlPointEdit">
    <div class="row project">
        <div class="col-md-12">
            <a href="{{pathFor 'projectDetail'}}" class="btn btn-info">
                <h3><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{name}} </h3>
            </a>
        </div>
        <div class="col-md-12 project">
            <div class="col-md-5">
                <h3>Control Points</h3>
                <!--{{ json }}-->
                {{#each control_points}}
                    <div class="col-md-5 bootcards-cards image-box">
                        <p><img src='{{ showControlTypeIcon control_type }}' alt='{{ control_type }}'/>
                            <b> {{control_name}} </b></p>

                        <p>{{ control_desc }}</p>

                        <span class="pull-right">
                            <a href="#" name="{{../_id}}" class="btn btn-danger delete">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a>
                        </span>
                    </div>
                {{/each}}
            </div>
            <div class="col-md-5 array-editor">
                <h4>New Control Point</h4>
                {{> quickForm id="controlPointEdit" type="update-pushArray" collection=Collections.Projects doc=this scope="control_points"}}
            </div>
        </div>
    </div>
</template>
