<template name="controlPointEdit">
    <div class="col-sm-12">
        <div class="bootcards-cards entity-item project-border">
            <a href="{{pathFor 'projectDetail'}}" class="btn btn-info">
                <h3><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{name}} </h3>
            </a>
            <h3>Control Points</h3>
            <div>
                <div class="col-md-6">
                    <!--{{ json }}-->
                    {{#each control_points}}
                        <div class="col-md-6">
                            <div class="entity-item control-item">
                                <p>
                                    <img src='{{ showControlTypeIcon control_type }}' alt='{{ control_type }}'/>
                                    <b> {{control_name}} </b>
                                    <span class="pull-right">
                                        <a href="#" name="{{../_id}}" class="btn btn-danger delete">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a>
                                    </span>
                                </p>

                                <p>{{ control_desc }}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="col-md-6 array-editor">
                    <h4>New Control Point</h4>
                    {{> quickForm id="controlPointEdit" type="update-pushArray" collection=Collections.Projects doc=this scope="control_points"}}
                </div>
            </div>
        </div>
    </div>
</template>
