<template name="dataPoint">
    <div class="col-sm-4">
        <div class="bootcards-cards entity-item data-item">
            <p><img src='{{ showDataTypeIcon data_type }}' alt='{{ data_type }}' width="60px"/> <b>{{data_name}} </b></p>

            <p>
                {{#if unit}}
                    <b> Unit : </b>{{ unit }}
                {{/if}}
                {{#if show_list}}
                    <b> Listshow : </b>{{ show_list }}
                {{/if}}
            </p>
        </div>
    </div>
</template>