<template name="myAppKitItem">
    <div class="appkit {{gray}}">
        <a name="{{_id}}" ></a>
        <div class="appkit-title">
            <h3>{{name}}</h3>
        </div>
        <div class="appkit-desc">
            <h4>ID : {{_id}}</h4>

            {{#if status }}
                <p>Status : {{status}}</p>
            {{/if}}

            <!--<p>owner : {{ owner_user_id}}</p>-->
            <p>Create at : {{ livestamp create_time}} , Update at : {{ livestamp last_update_time}}</p>

            {{#unless status }}
                <a href="" class="btn btn-danger disassemble">Disassemble</a>
            {{/unless}}

            {{#unless app_kit_id }}
                <a href="" class="btn btn-primary selectAppKit">Choose a AppKit</a>
            {{/unless}}
        </div>

        {{#if app_kit_id }}
            {{> myAppKitData my_app_kit_id=_id}}
            {{> myAppKitControl my_app_kit_id=_id}}
        {{/if}}

    </div>
</template>