<template name="controlNone">
    <div>
        <p><img src='{{ showControlTypeIcon control_type control_value}}' alt='{{ control_type }}'/>
            <b>{{control_name}}</b>
        </p>

        <p>On Building</p>
    </div>
</template>

<template name="controlBoardChange">
    <div>
        <p><img src='{{ showControlTypeIcon control_type control_value}}' alt='{{ control_type }}'/>
            <b>{{control_name}}</b>
        </p>

        <p><a href="" class="btn btn-info changeBtn">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Switch </a></p>

        {{#if control_submit_time}}
            <div class="pull-right"><i>{{ formatDate control_submit_time }}</i></div>
        {{/if}}
    </div>
</template>

<template name="controlBoardClick">
    <div>
        <p><img src='{{ showControlTypeIcon control_type control_value }}' alt='{{ control_type }}'/>
            <b>{{control_name}}</b></p>

        <p><a href="" class="btn btn-info clickBtn">
            <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span> Click </a></p>

        {{#if control_submit_time}}
            <div class="pull-right"><i>{{ formatDate control_submit_time }}</i></div>
        {{/if}}
    </div>
</template>

<template name="controlBoardInput">
    <div>
        <p><img src='{{ showControlTypeIcon control_type control_value }}' alt='{{ control_type }}'/>
            <b>{{control_name}}</b></p>

        <p>

        <form className="sendText">
            <input type="text" name="text" value="{{control_value}}"/>
            <a href="" class="btn btn-info sendBtn">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Send
            </a>
            {{#if control_submit_time}}
                <div class="pull-right"><i>{{ formatDate control_submit_time }}</i></div>
            {{/if}}
        </form>
        </p>
    </div>
</template>
