<template name="dataNone">
</template>

<template name="dataEventOne">
    <div class="col-sm-4">
        <div class="bootcards-cards entity-item data-event-item">
            <p><img src='{{ showDataTypeIcon data_type }}' alt='{{ data_type }}'/> <b>{{ data_name }}</b>
                , {{ data_value }} {{ data_unit }}</p>

            <div class="pull-right"><i>{{ formatDate data_submit_time }}</i></div>
        </div>
    </div>
</template>

<!-- ============= -->
<!-- dataEventList -->

<template name="dataEventList_Item">
    <div>
        <p>{{ formatDate data_submit_time }} {{ obj2String data_value }} {{ data_unit }}</p>
    </div>
</template>

<template name="dataEventList">
    <div class="col-sm-12">
        <div class="bootcards-cards entity-item">
            <p><img src='{{ showDataTypeIcon data_type }}' alt='{{ data_type }}'/> <b>{{ data_name }}</b></p>
            {{#each data_event_items }}
                {{> dataEventList_Item }}
            {{/each }}

            <div class="pull-right"><i>{{ formatDate data_submit_time }}</i></div>
        </div>
    </div>
</template>

<!-- ============= -->
<!-- dataEventPictures -->

<template name="dataEventList_Picture">
    <p><img src='{{ data_value }}' height="200"/> {{ formatDate data_submit_time }}</p>
</template>

<template name="dataEventPictures">
    <div>
        dataEventPictures
        <p>{{ formatDate data_submit_time }}</p>

        <div>
            <p><img src='{{ showDataTypeIcon data_type }}' alt='{{ data_type }}'/> <b>{{ data_name }}</b></p>
            {{#each data_event_items }}
                {{> dataEventList_Picture}}
            {{/each }}
        </div>

        <iframe width="560" height="315" src="//www.youtube.com/embed/0njX2e7GwDs" frameborder="0"
                allowfullscreen></iframe>
    </div>
</template>