<template name="projectSummarySimple">
    <div class="col-sm-12 entity-sub">
        <a href="{{pathFor 'projectDetail'}}">
            <div class="col-sm-4">
                {{#with firstIamge}}
                    <img src="{{this.url store='thumbs'}}" class="thumbnail-simple"/>
                {{/with}}

                {{#unless firstIamge}}
                    <img src="/project.png" class="thumbnail-simple"/>
                {{/unless}}
            </div>
            <div class="col-sm-8">
                {{name}}
            </div>
        </a>
    </div>
</template>