<template name="projectModulesSelect">
    <div class="col-sm-12">
        <div class="bootcards-cards entity-item project-border">
            <a href="{{pathFor 'projectDetail'}}" class="btn btn-info">
                <h3><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{name}} </h3>
            </a>

            <h3>Selected Modules</h3>

            <div>
                <div class="col-md-6">
                    {{#each module_ids}}
                        <div class="col-md-6">
                            <div class="entity-item">
                                {{> projectModulesSelected id=this}}
                            </div>
                        </div>
                    {{/each}}
                </div>

                <div class="col-md-6 array-editor">
                    <h4>Modules</h4>
                    {{#each all_module_ids}}
                        <div class="col-md-6">
                            <div class="entity-item">
                                {{> projectModulesAll id=this._id}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="projectModulesAll">
    <div>
        <b>{{_.name}}</b>
        <span class="pull-right">
            <a href="#" name="{{../../_id}}" class="btn btn-success select">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
        </span>
    </div>
    <div class="pull-left">
        {{desc}}
    </div>
    <div style="text-align: center">
        {{> thumbnail id=_.img_id }}
    </div>
</template>

<template name="projectModulesSelected">
    <div>
        <b>{{_.name}}</b>
        <span class="pull-right">
            <a href="#" name="{{../../_id}}" class="btn btn-info delete">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
        </span>
    </div>
    <div class="pull-left">
        {{desc}}
    </div>
    <div style="text-align: center">
        {{> thumbnail id=_.img_id }}
    </div>
</template>