<template name="projectDetail">
    <div class="col-sm-12">
        <div class="bootcards-cards entity-box project-border">
            <div class="entity-sub">
                <h3>{{name}}</h3>
            </div>
            <div class="entity-sub">
                {{#if isAutherOrGrantedRole 'admin'}}
                    <a href="{{pathFor 'projectEdit'}}" class="btn btn-info edit">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit </a>
                {{/if}}

                {{#if currentUser}}
                    <a href="{{pathFor 'deviceSubmit'}}" class="btn btn-primary assemble">
                        <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span> Made It </a>
                {{/if}}

                <!--<a href="{{pathFor 'buyProject'}}" class="discuss btn btn-primary buy">Buy</a>-->

                <!--<h4>ID : {{_id}}</h4>-->

                <p>{{desc}}</p>

                {{#if show_chart}}
                <p>Visualization : {{show_chart}}</p>
                {{/if}}

                <p>Author : {{ author_user_id}}</p>

                <p>Create at : {{ formatDate create_time}} , Update at : {{ formatDate last_update_time}}</p>
            </div>

            <div class="entity-box project-border">
                <div class="col-sm-12 bootcards-cards">
                    <h4>Images
                        {{#if isAutherOrGrantedRole 'admin'}}
                            <a href="{{pathFor 'projectImagesSelect'}}" class="btn btn-info select">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit </a>
                        {{/if}}
                    </h4>

                    {{#each img_ids}}
                        {{> thumbnail id=this}}
                    {{/each}}
                </div>
            </div>

            <div class="entity-box project-border">
                <div class="col-sm-12 bootcards-cards">
                    <h4>Used Modules
                        {{#if isAutherOrGrantedRole 'admin'}}
                            <a href="{{pathFor 'projectModulesSelect'}}" class="btn btn-info select">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit </a>
                        {{/if}}
                    </h4>
                    {{#each module_ids}}
                        {{> projectModule id=this}}
                    {{/each}}
                </div>
            </div>
            <div class="entity-box project-border">
                <div class="col-sm-12 bootcards-cards">
                    <h4>Data Points
                        {{#if isAutherOrGrantedRole 'admin'}}
                            <a href="{{pathFor 'dataPointEdit'}}" class="btn btn-info create">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit </a>
                        {{/if}}
                    </h4>

                    {{#if show_chart}}
                        <p><b>Data Chart : </b>{{ show_chart }}</p>
                    {{/if}}

                    {{#each data_points}}
                        {{> dataPoint}}
                    {{/each}}
                </div>
            </div>

            <div class="entity-box project-border">
                <div class="col-sm-12 bootcards-cards">
                    <h4>Control Points
                        {{#if isAutherOrGrantedRole 'admin'}}
                            <a href="{{pathFor 'controlPointEdit'}}" class="btn btn-info select">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit </a>
                        {{/if}}
                    </h4>

                    {{#each control_points}}
                        {{> controlPoint}}
                    {{/each}}
                </div>
            </div>

            {{#if isAutherOrGrantedRole 'admin'}}
                <a href="" class="btn btn-danger align-right remove">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove </a>
            {{/if}}
        </div>
    </div>
</template>