<template name="myModuleSubmit">
    <h3>My Module Submit</h3>

    <form class="main form">

        {{> moduleModuleItem _id=module_id}}

        <div class="form-group {{errorClass 'name'}}">
            <label class="control-label" for="name">Name</label>

            <div class="controls">
                <input name="name" id="name" type="text" value="{{ name }}" placeholder="Name" class="form-control"/>
                <span class="help-block">{{errorMessage 'name'}}</span>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>