<template name="footer">
    <div class="row">
        <div class="col-sm-3 bootcards-cards"></div>
        <div class="col-sm-3 bootcards-cards text-left">
            <h3>Sites</h3>
            <ul>
                <li>English Site: <a href="http://microduino.cc">microduino.cc</a></li>
                <li>中文站: <a href="http://microduino.cn">microduino.cn</a></li>
                <li>mCotton: <a href="http://mcotton.microduino.cn">mCotton.microduino.cn</a></li>
            </ul>
        </div>
        <div class="col-sm-3 bootcards-cards text-left">
            <h3>Social</h3>
            <ul>
                <li><a href="https://www.facebook.com/Microduino" target="_blank">Facebook</a></li>
                <li><a href="https://plus.google.com/u/0/communities/117933845827174624649"
                       target="_blank">Google+</a>
                </li>
                <li><a href="http://www.twitter.com/Microduino" target="_blank">Twitter</a></li>
                <li><a href="http://wiki.Microduino.cc" target="_blank">Wiki</a></li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <div class="copyright"><span>© Microduino Inc. 2012-2015. All rights reserved.</span></div>
        <div class="copyright"><span>© 美科科技有限公司. 2012-2015. 版权所有.</span>
            <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备15050568号</a></div>
    </div>
</template>