<template name="appKitEdit">
    <h3>AppKit</h3>

    <!--<div class="form-group">-->
        <!--<label class="control-label" for="pku">PKU</label>-->

        <!--<div class="controls">-->
            <!--<input name="pku" id="pku" type="text" value="{{pku}}" placeholder="PKU" class="form-control" readonly/>-->
        <!--</div>-->
    <!--</div>-->
    <form class="main form">
        <div class="form-group">
            <label class="control-label" for="name">Name</label>

            <div class="controls">
                <input name="name" id="name" type="text" value="{{name}}" placeholder="Name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="desc">Description</label>

            <div class="controls">
                <input name="desc" id="desc" type="text" value="{{desc}}" placeholder="Description"
                       class="form-control"/>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="picture_url">picture_url</label>-->

            <!--<div class="controls">-->
                <!--<input name="picture_url" id="picture_url" type="text" value="{{picture_url}}" placeholder="Picture_url"-->
                       <!--class="form-control"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="store_url">store_url</label>-->

            <!--<div class="controls">-->
                <!--<input name="store_url" id="store_url" type="text" value="{{store_url}}" placeholder="Store_url"-->
                       <!--class="form-control"/>-->
            <!--</div>-->
        <!--</div>-->
        <input type="submit" value="Submit" class="btn btn-primary submit"/>
        <hr/>
        <a class="btn btn-danger delete" href="#">Delete AppKit</a>
    </form>
</template>