<template name="moduleItem">
    <div class="col-sm-3 bootcards-cards module">
        <div class="module-title">
            <h3>{{name}}</h3>
        </div>
        <div class="module-desc">
            <!--<h4>ID : {{_id}}</h4>-->

            <p>{{desc}}</p>

            {{#if currentUser}}
                <a href="{{pathFor 'myModuleSubmit'}}" class="btn btn-primary have">Add to My Modules</a>
            {{/if}}

            <!--<a href="{{pathFor 'buyModule'}}" class="discuss btn btn-primary buy">Buy</a>-->

            {{#if autherOfEntity}}
                <a href="{{pathFor 'moduleEdit'}}" class="btn btn-default edit">Edit</a>
            {{/if}}
        </div>
    </div>
</template>

