<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> mCotton </a>
                <a class="navbar-brand" href="{{pathFor 'projectsList'}}">
                    <span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span> Projects </a>

                {{#if currentUser}}
                    <a class="navbar-brand" href="{{pathFor 'devicesList'}}">
                        <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span> My Devices </a>
                    <!--<a class="navbar-brand" href="{{pathFor 'myModulesList'}}">-->
                        <!--<span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> My Modules </a>-->
                {{/if}}
            </div>

            {{#if isGranted 'admin'}}
                <div class="dropdown">
                    <button class="navbar-brand dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Admin
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{pathFor 'modulesList'}}">
                            <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> Modules </a>
                        </li>
                        <li><a href="{{pathFor 'imageStore'}}">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Image Store </a>
                        </li>
                    </ul>
                </div>
            {{/if}}

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>